In [2]:
import random
import pandas as pd

# Define possible housing types
housing_types = ["1&2-Room Flat", "3-Room Flat", "4-Room Flat", "5-Room Flat", "Executive Flat", "Condominium", "Apartment", "Landed Property"]

# Helper function to calculate CPF balance
def calculate_cpf_balance(age, yearly_income):
    if age <= 55:
        total_cpf = yearly_income * 0.37 * (age - 20)
    else:
        total_cpf = yearly_income * 0.37 * 35 + yearly_income * 0.22 * (age - 55)
    return total_cpf

# Helper function to calculate savings
def calculate_savings(yearly_income, age):
    return yearly_income * 0.20 * (age - 20) * 0.5

def generate_score(base, variance=3):
    return max(1, min(10, base + random.randint(-variance, variance)))

# Initialize list to store generated data
data = []

for _ in range(5000):
    # Generate age (between 20 and 65 years old)
    age = random.randint(20, 65)
    
    # Select a random housing type with conditions for younger people
    if age < 30:
        housingtype = random.choice(housing_types[:5])  # More likely to live in smaller flats
    else:
        housingtype = random.choice(housing_types)
    
    # Generate yearly income with a trend based on age
    if age <= 25:
        yearly_income = random.randint(30, 60) * 1000
    elif age <= 40:
        yearly_income = random.randint(40, 80) * 1000
    else:
        yearly_income = random.randint(50, 150) * 1000
    
    # Calculate CPF balance
    cpf_balance = calculate_cpf_balance(age, yearly_income)
    
    # Generate yearly expenditure based on the given conditions
    if age < 30:
        yearly_expenditure = random.randint(5, 20) * 1000  # Lower expenses for young adults
    else:
        monthly_expenses = 2500 + 500 + 1000  # Rent + groceries + car mortgage
        other_expenses = random.randint(1, 5) * 1000  # Other monthly expenses
        yearly_expenditure = (monthly_expenses + other_expenses) * 12
    
    # Calculate savings
    savings = calculate_savings(yearly_income, age)
    
    # Calculate base score using a weighted approach considering income, expenditure, and savings
    income_factor = yearly_income / 10000
    expenditure_factor = yearly_expenditure / 10000
    savings_factor = savings / 10000
    
    base_score = (income_factor - expenditure_factor + savings_factor) / 3
    
    # Normalize base score to fit within 1 to 10 range
    base_score = max(1, min(10, int(base_score)))
    
    # Calculate quality of life, disaster preparedness, and retirement readiness around the base score
    quality_of_life = base_score
    disaster_preparedness = generate_score(base_score)
    retirement_readiness = generate_score(base_score)
    
    # Append generated data to the list
    data.append([age, housingtype, yearly_income, cpf_balance, yearly_expenditure, savings, quality_of_life, disaster_preparedness, retirement_readiness])

# Create a DataFrame from the generated data
columns = ['age', 'housingtype', 'yearly_income', 'cpf_balance', 'yearly_expenditure', 'savings', 'quality_of_life', 'disaster_preparedness', 'retirement_readiness']
df = pd.DataFrame(data, columns=columns)

# Display the generated DataFrame
df.to_csv("../data/mockdata.csv", index=False)
df

,age,housingtype,yearly_income,cpf_balance,yearly_expenditure,savings,quality_of_life,disaster_preparedness,retirement_readiness
0,64,4-Room Flat,133000,1985690.0,60000,585200.0,10,10,9
1,59,5-Room Flat,150000,2074500.0,60000,585000.0,10,9,7
2,32,1&2-Room Flat,59000,261960.0,108000,70800.0,1,3,1
3,63,5-Room Flat,74000,1088540.0,60000,318200.0,10,8,8
4,33,1&2-Room Flat,70000,336700.0,84000,91000.0,2,5,2
...,...,...,...,...,...,...,...,...,...
4995,45,Apartment,99000,915750.0,60000,247500.0,9,10,7
4996,22,5-Room Flat,59000,43660.0,15000,11800.0,1,2,1
4997,42,1&2-Room Flat,89000,724460.0,108000,195800.0,5,7,2
4998,31,Landed Property,56000,227920.0,108000,61600.0,1,3,4
4999,35,3-Room Flat,60000,333000.0,96000,90000.0,1,4,1